Import libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_seq_items", None)
pd.set_option("display.width", 0)
pd.set_option("display.max_colwidth", None)

Data

In [6]:
data_raw = pd.read_csv("/home/jakub/Pulpit/Credit Classification ML/data/raw/train.csv")
df = data_raw

/tmp/ipykernel_132016/1902961226.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_raw = pd.read_csv("/home/jakub/Pulpit/Credit Classification ML/data/raw/train.csv")

Function

In [7]:
def cols_to_drop(df):
    cols_to_drop = ["SSN","Customer_ID","Name","ID"]
    df = df.drop(columns=cols_to_drop)
    return df

In [8]:
def clean_age(df):
    df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
    df.loc[(df['Age'] < 18) | (df['Age'] > 100), 'Age'] = np.nan
    return df

In [9]:
def clean_occupation(df):
    df['Occupation'] = df['Occupation'].mask(df['Occupation'] == '_______', np.nan)
    return df

In [10]:
def clean_annual_income(df):
    df['Annual_Income'] = (
    pd.to_numeric(
        df['Annual_Income']
        .replace('[^0-9.,-]', '', regex=True)
        .str.replace(',', '.', regex=False),
        errors='coerce'  
    )
    )
    upper = df['Annual_Income'].quantile(0.99)
    df.loc[(df['Annual_Income'] < 0) | (df['Annual_Income'] > upper), 'Annual_Income'] = np.nan
    return df

In [11]:
def clean_monthly_inhand_salary(df):
    df["Monthly_Inhand_Salary"] = pd.to_numeric(df["Monthly_Inhand_Salary"], errors='coerce')
    upper = df["Monthly_Inhand_Salary"].quantile(0.99)
    df.loc[((df["Monthly_Inhand_Salary"] <= 0) | df["Monthly_Inhand_Salary"] > upper), "Monthly_Inhand_Salary"] = np.nan
    return df

In [12]:
def num_bank_accounts(df):
    df['Num_Bank_Accounts'] = pd.to_numeric(df['Num_Bank_Accounts'], errors='coerce')
    upper = df['Num_Bank_Accounts'].quantile(0.90)
    df.loc[(df['Num_Bank_Accounts'] < 0) | (df['Num_Bank_Accounts'] > upper), 'Num_Bank_Accounts'] = np.nan
    return df

In [13]:
def clean_num_credit_card(df):
    df["Num_Credit_Card"] = pd.to_numeric(df["Num_Credit_Card"], errors='coerce')
    upper = df["Num_Credit_Card"].quantile(0.90)
    df.loc[(df["Num_Credit_Card"] <= 0) | (df["Num_Credit_Card"] > upper), "Num_Credit_Card"] = np.nan
    return df

In [14]:
def clean_intrest_rate(df):
    df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')
    upper = df['Interest_Rate'].quantile(0.90)
    df.loc[(df['Interest_Rate'] < 0) | (df['Interest_Rate'] > upper), 'Interest_Rate'] = np.nan
    return df

In [15]:
def clean_num_of_loan(df):
    df['Num_of_Loan'] = df['Num_of_Loan'].astype(str)
    df['Num_of_Loan'] = df['Num_of_Loan'].replace('[^0-9.,-]', '', regex=True)
    df['Num_of_Loan'] = df['Num_of_Loan'].str.replace(',', '.', regex=False)
    df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce')
    upper = df['Num_of_Loan'].quantile(0.99)
    df.loc[(df['Num_of_Loan'] < 0 ) | (df['Num_of_Loan'] > upper), 'Num_of_Loan'] = np.nan
    return df

In [16]:
def clean_type_of_loan(df):
    df['Type_of_Loan'] = (
        df['Type_of_Loan']
        .str.replace(' and ', ', ', regex=False)
        .str.replace(' ,', ',', regex=False)
        .str.replace(',,', ',', regex=False)
        .str.strip()
    )
    df['Type_of_Loan'] = df['Type_of_Loan'].str.split(', ')
    return df

In [17]:
def clean_delay_from_due_date(df):
    df['Delay_from_due_date'] = pd.to_numeric(df['Delay_from_due_date'], errors='coerce')
    upper = df['Delay_from_due_date'].quantile(0.99)
    df.loc[(df['Delay_from_due_date'] < 0) | (df['Delay_from_due_date'] > upper), 'Delay_from_due_date'] = np.nan
    return df

In [18]:
def clean_num_of_delayed_payment(df):
    df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
    df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce')
    upper = df['Num_of_Delayed_Payment'].quantile(0.99)
    df.loc[(df['Num_of_Delayed_Payment'] < 0) | (df['Num_of_Delayed_Payment'] > upper), 'Num_of_Delayed_Payment'] = np.nan
    return df

In [19]:
def clean_changed_credit_limit(df):
    df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
    df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].mask(df['Changed_Credit_Limit'] == '_' , np.nan)
    df['Changed_Credit_Limit'] = pd.to_numeric(df['Changed_Credit_Limit'], errors='coerce')
    return df

In [20]:
def clean_num_credit_inquiries(df):
    df['Num_Credit_Inquiries'] = pd.to_numeric(df['Num_Credit_Inquiries'], errors='coerce')
    upper = df['Num_Credit_Inquiries'].quantile(0.98)
    df.loc[(df['Num_Credit_Inquiries'] < 0) | (df['Num_Credit_Inquiries'] > upper), 'Num_Credit_Inquiries'] = np.nan
    return df

In [21]:
def clean_credit_mix(df):
    df['Credit_Mix'] = df['Credit_Mix'].astype(str)
    df['Credit_Mix'] = df['Credit_Mix'].mask(df['Credit_Mix'] == '_' , np.nan)
    return df

In [22]:
def clean_outstanding_debt(df):
    df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
    df['Outstanding_Debt'] = pd.to_numeric(df['Outstanding_Debt'], errors='coerce')
    return df
df = clean_outstanding_debt(df)

In [23]:
def clean_credit_utilization_ratio(df):
    upper = df['Credit_Utilization_Ratio'].quantile(0.99)
    df.loc[(df['Credit_Utilization_Ratio'] < 0) | (df['Credit_Utilization_Ratio'] > upper), 'Credit_Utilization_Ratio'] = np.nan
    return df

In [24]:
def clean_credit_history_age(df):
    df['Credit_History_Age'] = (
        df['Credit_History_Age']
        .str.extract(r'(\d+)\s+Years.*?(\d+)\s+Months')
        .astype(float)
        .apply(lambda x: x[0]*12 +x[1], axis=1)
    )
    return df

In [25]:
def clean_payment_of_min_amount(df):
    df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].replace('NM', np.nan)
    return df

In [26]:
def clean_total_emi_per_month(df):
    limit = df['Total_EMI_per_month'].quantile(0.94)
    df.loc[df['Total_EMI_per_month'] > limit, 'Total_EMI_per_month'] = np.nan
    return df

In [27]:
def clean_amount_invested_monthly(df):
    df['Amount_invested_monthly'] = (
    df['Amount_invested_monthly']
    .astype(str)
    .str.replace('__', '', regex=True)
    .replace('nan', np.nan)
    .astype(float)
)
    limit = df['Amount_invested_monthly'].quantile(0.90)
    df.loc[df['Amount_invested_monthly'] > limit, 'Amount_invested_monthly'] = np.nan
    return df

In [28]:
def clean_payment_behaviour(df):
    df['Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)
    df['Payment_Behaviour'] = df['Payment_Behaviour'].mask(df['Payment_Behaviour'] == '!@9#%8', np.nan)
    return df

In [29]:
def clean_monthly_balance(df):   
    df['Monthly_Balance'] = (
        df['Monthly_Balance']
        .astype(str)
        .str.replace('__', '', regex=False)
        .replace('nan', np.nan)
    )
    df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')
    df.loc[df['Monthly_Balance'] < 0, 'Monthly_Balance'] = np.nan
    return df

In [30]:
def clean_all(df):
    df = cols_to_drop(df) 
    df = clean_age(df) 
    df = clean_occupation(df) 
    df = clean_annual_income(df) 
    df = clean_monthly_inhand_salary(df) 
    df = num_bank_accounts(df) 
    df = clean_num_credit_card(df) 
    df = clean_intrest_rate(df) 
    df = clean_num_of_loan(df) 
    df = clean_type_of_loan(df) 
    df = clean_delay_from_due_date(df) 
    df = clean_num_of_delayed_payment(df) 
    df = clean_changed_credit_limit(df) 
    df = clean_num_credit_inquiries(df) 
    df = clean_credit_mix(df)
    df = clean_outstanding_debt(df) 
    df = clean_credit_utilization_ratio(df) 
    df = clean_credit_history_age(df) 
    df = clean_payment_of_min_amount(df) 
    df = clean_total_emi_per_month(df)
    df = clean_amount_invested_monthly(df) 
    df = clean_payment_behaviour(df) 
    df = clean_monthly_balance(df)
    return df

In [31]:
df = clean_all(df)

In [32]:
df.head(3)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"[Auto Loan, Credit-Builder Loan, Personal Loan, Home Equity Loan]",3.0,7.0,11.27,4.0,NaN,809.98,26.822620,265.0,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,February,23.0,Scientist,19114.12,NaN,3.0,4.0,3.0,4.0,"[Auto Loan, Credit-Builder Loan, Personal Loan, Home Equity Loan]",NaN,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,March,NaN,Scientist,19114.12,NaN,3.0,4.0,3.0,4.0,"[Auto Loan, Credit-Builder Loan, Personal Loan, Home Equity Loan]",3.0,7.0,NaN,4.0,Good,809.98,28.609352,267.0,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good

In [33]:
df.to_csv("plik.csv", index=False, encoding="utf-8")