In [4]:
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [5]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_seq_items", None)
pd.set_option("display.width", 0)
pd.set_option("display.max_colwidth", None)

In [6]:
df_raw = pd.read_csv('/home/jakub/Pulpit/Credit original/data/raw/train.csv')
df = df_raw

/tmp/ipykernel_32266/2618218542.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv('/home/jakub/Pulpit/Credit original/data/raw/train.csv')

In [7]:
df_raw.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [8]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [9]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [11]:
c_drop = [
    'ID',
    'Customer_ID',
    'Name',
    'SSN'
]

c_ToNumRemoveChars = [
    'Age',
    'Annual_Income',
    'Monthly_Inhand_Salary',
    'Num_Bank_Accounts',
    'Num_Credit_Card',
    'Interest_Rate',
    'Num_of_Loan',
    'Delay_from_due_date',
    'Num_of_Delayed_Payment',
    'Changed_Credit_Limit',
    'Num_Credit_Inquiries',
    'Outstanding_Debt',
    'Credit_Utilization_Ratio',
    'Total_EMI_per_month',
    'Amount_invested_monthly',
    'Monthly_Balance'
]

c_age = ['Age']

c_ValueCliperq99 = [
    'Annual_Income',
    'Monthly_Inhand_Salary', 
    'Delay_from_due_date',
    'Num_of_Delayed_Payment', 
    'Num_Credit_Inquiries', 
    'Credit_Utilization_Ratio'
]

c_ValueClipperq90 = [
    'Num_Bank_Accounts',
    'Num_Credit_Card', 
    'Interest_Rate',
    'Amount_invested_monthly'
]

c_EmiPerMonthTransformer = ['Total_EMI_per_month']

c_MonthlyBalance = ['Monthly_Balance'] 

c_TypeOfLoan = ['Type_of_Loan']

c_CreditMix = ['Credit_Mix']

c_CreditHistoryAge = ['Credit_History_Age']

c_PaymentOfMinAmount = ['Payment_of_Min_Amount']

c_Behavior = ['Payment_Behaviour'] 

c_Ocupation = ['Occupation']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [13]:
class Drop(BaseEstimator,TransformerMixin):
    def __init__(self, columns_to_drop=None):
        self.columns_to_drop = columns_to_drop
        
    def fit(self, X,y=None):
        return self
    
    def transform(self, X):
        
        X = X.drop(columns= self.columns_to_drop, errors='ignore')
        
        return X
    
    # Column in this transformer
    # 1.ID
    # 2.Customer_ID
    # 3.Name
    # 4.SSN

In [14]:
class ToNumRemoveChars(BaseEstimator,TransformerMixin):
    def __init__(self, chars_to_remove=r'[^0-9.,]+'):
        self.chars_to_remove = chars_to_remove
        
    
    def fit(self, X,y=None):
        return self
    
    def transform(self, X):
    
       
        df = pd.DataFrame(X).copy()
       
        for col in df.columns:
            s = df[col].astype(str)
            s = s.str.replace(self.chars_to_remove, '', regex=True)
            s = s.str.replace(',', '.', regex=False)
            df[col] = pd.to_numeric(s, errors='coerce')
            
        
        return df
    
    # Column in this transformer
    # 1.Age
    # 2.Annual_Income
    # 3.Monthly_Inhand_Salary 
    # 4.Num_Bank_Accounts 
    # 5.Num_Credit_Card
    # 6.Interest_Rate
    # 7.Num_of_Loan
    # 8.Delay_from_due_date 
    # 9.Num_of_Delayed_Payment 
    # 10.Changed_Credit_Limit
    # 11.Num_Credit_Inquiries
    # 12.Outstanding_Debt 
    # 13.Credit_Utilization_Ratio 
    # 14.Total_EMI_per_month
    # 15.Amount_invested_monthly 
    # 16.Monthly_Balance

Numeryczne

In [15]:
class AgeTransformer(BaseEstimator,TransformerMixin):
    def __init__(self):
        self.min_age_ = 18
        self.max_age_ = 100
        pass
    
    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        X_df.loc[(X_df[col] < self.min_age_) | (X_df[col] > self.max_age_), col] = np.nan
        
        return X_df
    
# Column in this transformer
# 1.Age

In [16]:
class ValueCliperq99(BaseEstimator,TransformerMixin):
    def __init__(self, q_max=0.99):
        self.q_max = q_max
        self.borders_ = {}
        
    
    def fit(self,X,y=None):
        X_df = pd.DataFrame(X).copy()
        
         #s≈Çownik na progi
        
        
        for col in X_df.columns:
            data = pd.to_numeric(X_df[col], errors='coerce') #przejscie po kazdej kolumnie podanej do transformatora
            self.borders_[col] = data.quantile(self.q_max) #zapisuje prog dla kazdej kategori w slowniku
            
            
            
        return self
    
    def transform(self,X):
        X_df = pd.DataFrame(X).copy()
        
        for col in X_df.columns:
            X_df.loc[X_df[col] <= 0, col] = np.nan
        
            col_border = self.borders_[col]
        
            X_df.loc[(X_df[col] > col_border), col] = np.nan
        
        return X_df
    
    # Column in this transformer
    # 1.AnnualIncome
    # 2.MonthlyInhandSalaryTransform
    # 3.delay_from_due_date
    # 4.num_of_delayed_payment
    # 5.num_credit_inquiries
    # 6.credit_utilization_ratio

In [17]:
class ValueClipperq90(BaseEstimator,TransformerMixin):
    def __init__(self, q_max=0.90):
        self.q_max = q_max
        self.borders_ = None
        
    
    def fit(self,X,y=None):
        X_df = pd.DataFrame(X).copy()
        
        self.borders_ = {}
        
        for col in X_df.columns:
            data = pd.to_numeric(X_df[col], errors='coerce')
            self.borders_[col] = data.quantile(self.q_max)   
        return self
    
    def transform(self,X):
        X_df = pd.DataFrame(X).copy()
        
        for col in X_df.columns:
            X_df.loc[X_df[col] <= 0, col] = np.nan
            
            col_border = self.borders_[col]
            
            X_df.loc[(X_df[col] > col_border), col] = np.nan
            
        return X_df
    # Column in this transforme
    # 1.num_bank_accounts
    # 2.clean_num_credit_card
    # 3.clean_intrest_rate
    # 4.amount_invested_monthly

In [18]:
class EmiPerMonthTransformer(BaseEstimator,TransformerMixin):
    def __init__(self, q_max=0.94):
        self.q_max = q_max
        self.quant_ = None
        
    def fit(self,X,y=None):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        data = pd.to_numeric(X_df[col], errors='coerce')
        
        
        self.quant_ = data.quantile(self.q_max)
        
        return self
    
    def transform(self, X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        data = pd.to_numeric(X_df[col], errors='coerce')
        
        X_df.loc[(data < 0), col] = np.nan
        
        X_df.loc[(data > self.quant_), col] = np.nan
        
        return X_df
    
#1.total_emi_per_month

In [19]:
class MonthlyBalance(BaseEstimator,TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        data = pd.to_numeric(X_df[col], errors='coerce')
        
        X_df.loc[(data <= 0), col] = np.nan
        
        return X_df
    #Column in this transformer
    #1.MonthlyBalance

Kategoryczne

In [20]:
class TypeOfLoan(BaseEstimator,TransformerMixin):
    def __init__(self, chars_to_remove=r'and|\s|,'):
       self.chars_to_remove = chars_to_remove
    
    def fit(self,X,y=None):
        return self
    
    def transform(self,X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        loan_series = X_df[col].fillna("")
            
        loan_series = ( #czysczenie separatorow i zastapienie ich przecinkiem
            loan_series.astype(str)
            .str.replace(self.chars_to_remove, ',', regex=True)
            .str.strip()
        )
        
        loan_series = loan_series.apply(
            lambda x: [] if x == "" else [t.strip() for t in x.split(',') if t.strip()]
        )
        
        X_df[col] = loan_series
        return X_df
    
    # Column in this transformer
    #1.Type_of_Loan

In [21]:
class CreditMix(BaseEstimator,TransformerMixin):
    def __init__(self, placeholder='_'):
        self.placeholder = placeholder
        
    def fit(self,X,y=None):
            return self
        
    def transform(self, X):
            
        X_df = pd.DataFrame(X).copy()
            
        col = X_df.columns[0]
            
        credit_series = X_df[col]
            
        credit_series = (
            credit_series.astype(str)
            .str.replace(self.placeholder, '', regex=False)
        )
            
            
        X_df[col] = credit_series
        return X_df
    
    # Column in this transformer
    #1.Credit_Mix'

In [22]:
class CreditHistoryAge(BaseEstimator,TransformerMixin):
    def __init__(self, extract=r'(\d+)\s*Years?(?:.*?(\d+)\s*Months?)?'):
        self.extract = extract

    def fit(self,X,y=None):
        return self

    def transform(self, X):
        X_df = pd.DataFrame(X).copy()
        col = X_df.columns[0]

        history = (
            X_df[col]
            .astype(str)
            .str.extract(self.extract, expand=True)
            .fillna(0)
            .astype(float)
        )

        months = history.iloc[:, 0] * 12 + history.iloc[:, 1]
        months = months.mask(months <= 0)

        X_df[col] = months
        return X_df
    # Column in this transformer
    #1.Credit_History_Age
    # Column in this transformer
    #1.Credit_History_Age

In [23]:
class PaymentOfMinAmount(BaseEstimator,TransformerMixin):
    def __init__(self, placeholder='NM'):
        self.placeholder = placeholder
    
    def fit(self,X,y=None):
        return self
        
    def transform(self, X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        payment = (
            X_df[col]
            .astype(str)
            .str.replace(self.placeholder, '', regex=False)
            )
        
        X_df[col] = payment
        return X_df
    
    # Column in this transformer
    #1.Payment_of_Min_Amount

In [24]:
class Behavior(BaseEstimator,TransformerMixin):
    def __init__(self, remove='!@9#%8'):
        self.remove = remove
    
    def fit(self,X,y=None):
        return self
        
    def transform(self, X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        behaviour = (
            X_df[col]
            .astype(str)
            .str.replace(self.remove, '', regex=False)
        )
        X_df[col] = behaviour
        return X_df
    # Column in this transformer
    #1.Behaviour

In [25]:
class Ocupation(BaseEstimator,TransformerMixin):
    def __init__(self, remove='_______'):
        self.remove = remove
    
    def fit(self,X,y=None):
        return self
        
    def transform(self, X):
        X_df = pd.DataFrame(X).copy()
        
        col = X_df.columns[0]
        
        occupation = (
            X_df[col]
            .astype(str)
            .str.replace(self.remove, '', regex=False)
        )
        
        X_df[col] = occupation
        return X_df
    # Column in this transformer
    #1.Occupation

In [26]:
def fit_transform(df):
    df = df.copy()

    # 1. Drop kolumn
    df = df.drop(columns=c_drop, errors="ignore")

    # 2. ToNumRemoveChars na kolumnach numerycznych z dziwnymi znakami
    to_num = ToNumRemoveChars()
    df[c_ToNumRemoveChars] = to_num.fit_transform(df[c_ToNumRemoveChars])

     #3. Age ‚Äì je≈õli masz osobny transformer (np. Age), inaczej mo≈ºesz to na razie pominƒÖƒá
    age_tr = AgeTransformer()
    df[c_age] = age_tr.fit_transform(df[c_age])

    # 4. ValueCliperq99
    vc99 = ValueCliperq99()
    df[c_ValueCliperq99] = vc99.fit_transform(df[c_ValueCliperq99])

    # 5. ValueClipperq90
    vc90 = ValueClipperq90()
    df[c_ValueClipperq90] = vc90.fit_transform(df[c_ValueClipperq90])

    # 6. Total_EMI_per_month
    emi_tr = EmiPerMonthTransformer()
    df[c_EmiPerMonthTransformer] = emi_tr.fit_transform(df[c_EmiPerMonthTransformer])

    # 7. Monthly_Balance
    mb_tr = MonthlyBalance()
    df[c_MonthlyBalance] = mb_tr.fit_transform(df[c_MonthlyBalance])

    # 8. Type_of_Loan
    tol_tr = TypeOfLoan()
    df[c_TypeOfLoan] = tol_tr.fit_transform(df[c_TypeOfLoan])

    # 9. Credit_Mix
    cm_tr = CreditMix()
    df[c_CreditMix] = cm_tr.fit_transform(df[c_CreditMix])

    # 10. Credit_History_Age
    cha_tr = CreditHistoryAge()
    df[c_CreditHistoryAge] = cha_tr.fit_transform(df[c_CreditHistoryAge])


    # 11. Payment_of_Min_Amount
    pmin_tr = PaymentOfMinAmount()
    df[c_PaymentOfMinAmount] = pmin_tr.fit_transform(df[c_PaymentOfMinAmount])

    # 12. Payment_Behaviour
    beh_tr = Behavior()
    df[c_Behavior] = beh_tr.fit_transform(df[c_Behavior])

    # 13. Occupation
    occ_tr = Ocupation()
    df[c_Ocupation] = occ_tr.fit_transform(df[c_Ocupation])

    return df

In [27]:
df = fit_transform(df)

In [28]:
df.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,91518.000000,99001.000000,84151.000000,89101.000000,92820.000000,90108.000000,100000.000000,98017.000000,90522.000000,97909.000000,90082.000000,100000.000000,99000.000000,90970.000000,94001.000000,85800.000000,9.880000e+04
mean,34.429817,50497.576053,4090.863251,5.355462,5.298104,13.012307,10.761960,21.017222,13.553368,10.465678,10.336971,1426.220376,32.168325,221.195405,92.240745,158.160030,3.036437e+22
std,10.123827,38296.622971,3027.476452,2.186341,1.840016,7.354791,61.789933,14.309254,6.038172,6.670732,54.739876,1155.129026,5.006525,99.741364,86.360117,120.632770,3.181295e+24
min,18.000000,7005.930000,303.645417,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.230000,20.000000,1.000000,0.000000,10.010194,7.759665e-03
25%,26.000000,19344.270000,1619.755833,4.000000,4.000000,7.000000,2.000000,10.000000,9.000000,5.350000,3.000000,566.072500,28.009595,144.000000,28.213058,69.768374,2.701145e+02
50%,34.000000,36993.940000,3061.344167,5.000000,5.000000,12.000000,3.000000,18.000000,14.000000,9.400000,6.000000,1166.155000,32.221527,219.000000,64.064671,121.661779,3.367423e+02
75%,42.000000,71676.000000,5882.160000,7.000000,7.000000,18.000000,6.000000,28.000000,18.000000,14.870000,9.000000,1945.962500,36.377794,302.000000,135.763782,208.887633,4.703321e+02
max,100.000000,179987.280000,13814.930000,9.000000,9.000000,29.000000,1496.000000,61.000000,27.000000,36.970000,1104.000000,4998.070000,42.450948,404.000000,385.255046,577.171032,3.333333e+26

In [29]:
df['Credit_History_Age'].head()

0    265.0
1      NaN
2    267.0
3    268.0
4    269.0
Name: Credit_History_Age, dtype: float64